li {
    list-style: none;
    display: inline;
    font-size: 1.4em;
    margin-right: 30px;
}

.nav-bar {
    display: inline;
}

.nav-bar a:hover {
    background-color: #207DFF;
    border-radius: 8px;

}

.hidden {
    display: none;
}

a {
    text-decoration: none;
}

.home-comp div {
    margin-bottom: 20px;
}

.bio-comp div {
    margin-bottom: 20px;
}

.bio-comp img {
    width: 200px;
    border-radius: 8px;
}

.projects-comp div {
    margin-bottom: 20px;
}

.projects-comp img {
    width: 80px;
}

.img-links {
    margin-top: 35px;
    display: flex;
    justify-content: center;
}

.soc-media img {
    width: 80px;
    padding: 1
    0px;
}